<h1>Liste des annonces</h1>

<div class="search-container">
  <%= form_tag annonces_path, method: :get, class: "search-form" do  %>
      <div class="fields">
        <%= text_field_tag :query, params[:query], placeholder: "Que recherchez-vous?" ,class:"search_bar"%>
        <%= select_tag :city, options_for_select(Ville.pluck(:name).uniq, params[:city]), prompt: "Choisissez une ville",class:"ville_bar" %>
      </div>
      <%= submit_tag 'Rechercher' ,class: "submit"%>
  <% end %>
</div>

<ul>
  <div class="annonces-container">
  <% @annonces.each do |annonce| %>
  <%= link_to annonce_path(annonce) do %>
  <li>
    <div class="annonce">
      <div class="annonce-image" style="background-image: url('<%= annonce.image.attached? ? url_for(annonce.image) : 'no image' %>')">
      <div class="image-date"><%= time_ago_in_words(annonce.created_at) %></div>
      </div>
      <div class="annonce-details">
        <h2><%= annonce.titre %></h2>
        <p><%= annonce.description %></p>
        <p><%= annonce.prix %> DH</p>
       <!-- <p><%= annonce.created_at.strftime("%d/%m/%Y  %I:%M %p") %></p>        -->
        <p></p>
      </div>
    </div>
  </li>
  <% end %>
  <% end %>
</div>
</ul>

<%= link_to "Nouvelle annonce", new_annonce_path %>
