<!DOCTYPE html>
<html>
 <head>
    <title><%=@titre %> | Avito.ma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'avito_icon.ico' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigationf' %>
    <%= render 'layouts/header' %>

    <% flash.each do |msg_type,msg| %>
      <div class="alert alert-<%= msg_type %>"> <%= msg%> </div>
    <% end %>

    <%= yield %>
    <%# <%= render 'layouts/footer' %> 
  </body>
</html>